# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.lock
!pubspec.lock

# Node.js
server/node_modules/
server/.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
